* {
  box-sizing: border-box;
}

.form-subscribe {
  background: #334455;
  color: #fff;
  padding: 15px 25px;
  width: 1100px;
  border-radius: 8px;
}

h1 span {
  color: #e6a000;
}

p {
  line-height: 20px;
}

input,
button {
  padding: 10px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
}

input {
  width: 250px;
}

button {
  width: 220px;
  background: #f8db35;
  color: #23282c;
  font-weight: 600;
}

.form-subscribe:hover input {
  background: #ddd;
}

.form-subscribe:hover input::placeholder {
  color: #e6a000;
}

.form-subscribe:hover button {
  background: #e6a000;
  color: #fff;
}
