/* @font-face {
  font-family: Roboto;
  src: url('./font/Roboto-Light.ttf');
  font-weight: 300;
} */

@font-face {
  font-family: Roboto;
  src: url('./font/Roboto-Regular.ttf');
  font-weight: 499;
}

/* @font-face {
  font-family: Roboto;
  src: url('./font/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url('./font/Roboto-Bold.ttf');
  font-weight: 700;
} */

html {
  font-size: 50px;
}

.content p:nth-child(1) {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
.content p:nth-child(2) {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
.content p:nth-child(3) {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
.content p:nth-child(4) {
  font-family: Roboto, sans-serif;
  font-weight: 700;
}
.content p:nth-child(5) {
  font-family: Roboto, sans-serif;
  font-weight: 499;
}
