* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #31a8f7;
  font-size: 20px;
  font-weight: 600;
}

body {
  background: #31a8f7;
  overflow: hidden;
}

nav {
  background-color: white;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  overflow: hidden;
}

.burger-icon + nav,
.burger-menu,
.burger-icon,
.burger-icon > * {
  transition: all 0.1s ease-in-out;
}

.burger-icon {
  display: block;
  position: absolute;
  width: 30px;
  padding: 2px 0;
  cursor: pointer;
  left: 25px;
  top: 25px;
  z-index: 1;
}

.burger-icon input,
.burger-icon span {
  display: block;
  width: 30px;
  height: 5px;
  background: #31a8f7;
}

.burger-icon input {
  appearance: none;
  cursor: pointer;
  margin: 5px 0;
}

.burger-icon:has(input:checked) {
  rotate: 180deg;
}

.burger-icon:has(input:checked) span:nth-child(1) {
  width: 20px;
  rotate: 45deg;
  transform: translate(11px, -4.5px);
}

.burger-icon:has(input:checked) input:nth-child(2) {
  width: 25px;
}

.burger-icon:has(input:checked) span:nth-child(3) {
  width: 20px;
  rotate: -45deg;
  transform: translate(11px, 4.5px);
}

.burger-icon:has(input:checked) + nav {
  height: 250vw;
  width: 250vw;
}

.burger-menu {
  position: absolute;
  left: 70px;
  top: 100px;
  display: none;
}

.burger-icon:has(input:checked) ~ .burger-menu {
  display: block;
}
