* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.container {
  width: fit-content;
  margin: 30px auto;
}

.container .row {
  display: flex;
  height: 300px;
}

.item {
  padding: 0 30px;
  border: 1px solid #fff;
  background: green;
  color: #fff;
}

.item:nth-child(2) {
  align-self: center;
}

.item:nth-child(3) {
  display: flex;
  align-items: center;
}
