.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'aa aa aa'
    'bb bb bb';
}

.container > div {
  background-color: gold;
  border: 1px solid gray;
}

.item-5 {
  grid-area: aa;
}
