body {
  background-color: #e7e6e6;
}

td {
  padding-right: 30px;
  padding-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

span {
  font-weight: normal;
  color: #949494;
}

input,
select {
  width: 310px;
  padding: 8px;
  font-size: 15px;
  box-sizing: border-box;
}

button {
  background-color: #39768f;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 30px;
  border: none;
}
