.box {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  position: relative;
}

.box .item {
  padding: 10px;
  border: 1px solid red;
  background-color: green;
  width: 120px;
  color: #fff;
}

.box .item:nth-child(2) {
  position: absolute;
  width: auto;
  inset: 0;
}
