* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

ul.menu {
  background-color: aquamarine;

  display: flex;
  gap: 30px;
}

ul.menu li {
  position: relative;
}

ul.menu li .sub-menu {
  position: absolute;
  display: none;
  background-color: blue;
  min-width: 200px;
}

ul.menu li .sub-menu a {
  display: inline-block;
  color: #fff;
}

ul.menu li:hover .sub-menu {
  display: block;
}
