* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.songs {
  border: 1px solid red;
  width: 300px;
  margin: 30px auto;
}

.songs h2 {
  display: list-item;
  list-style-type: inside decimal-leading-zero;
}
